<div class="row">
  <div>
    <div class="container">
      <div class="jumbotron"></div>
      
	
	<div class="col-md-6 col-sm-4">
	<h1 class="a-head"">Alice Brozofsky</h1>

	  <p><%= link_to 'Gallery', gallery_path, class: 'h-link' %></p>
	  <p><%= link_to 'Shop', shop_path, class: 'h-link' %></p>
	  <p><%= link_to 'Bio', bio_path, class: 'h-link' %></p>
	  <p><%= link_to 'CV', cv_path, class: 'h-link' %></p>


      </div>
    </div>
  </div>
</div>
